@model IEnumerable<ProfileViewModel>

@{
    ViewData["Title"] = "Profile";
}

<h1>Your profile</h1>

<div class="square-center">
    <div class ="about">   
   @if (Model.Any())
   {
        foreach (var profile in Model)
        {
            <span>@profile.FirstName</span>
            <span>@profile.LastName</span>
            <span>@profile.Avatar</span>
            <span>@profile.CreationDate</span>
            <span>@profile.BirthDate</span>
            <span>@profile.PhoneNumber</span>
            <span>@profile.Email</span>
        
        }
   }

    <a class="button" asp-controller="Home" asp-action="Index">Back</a>

    </div>
</div>

@section css {
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/profile.css" rel="stylesheet" asp-append-version="true" />
}